:root {
    --font-color: black;
    --bg-color: snow;
    --svg-highlight-color-1: #B721FF;
    --svg-highlight-color-2: #21D4FD;
    --breadcrumbs-color: rgb(126, 126, 156);
    --background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

[data-theme=dark] {
    --font-color: snow;
    --bg-color: #020014;
    --svg-highlight-color-1: #2A2A72;
    --svg-highlight-color-2: #009FFD;
    --breadcrumbs-color: #fff;
    --background-image: linear-gradient(19deg, #009FFD 0%, #2A2A72 100%);

}

html {
    font: 120%/1.75 Helvetica, Georgia, serif;
    color: var(--font-color);
}

body {
    margin: 0 0; 
    background-color: var(--bg-color);
    font-size: 18px;
}

.header svg {
    vertical-align: -15%;
}


h1 svg {
    vertical-align: -12%;
}

h1, h2 {
    font-family: 'Nunito Sans';
    font-weight: 900;
}

img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    margin-bottom: 0
}

.imgmeta {
    border-bottom: 1px solid #d1d1d1;
    padding: 8px 0;
    margin-top: -.8rem;
    margin-bottom: 1.75rem
}

.imgcaption {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: .75rem;
    opacity: .75;
    color: var(--breadcrumbs-color);
}

h2 svg {
    vertical-align: -8%;
}

h3 a {
    font-family: 'Nunito Sans';
    font-size: 1.4rem;
    line-height: 1;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 900;
}

.date {
    font-family: 'Nunito Sans';
    text-transform: uppercase;
    font-weight: 900;
    font-size: .7rem;
    color: var(--breadcrumbs-color);
    margin-bottom: 0.5rem!important;
}

p.intro {
    font-size:1.1rem;
    font-weight: 300;
    margin: 0.5rem 0rem; 
    opacity: 0.75;
}

hr {
    opacity: 0.5;
}

hr.clear {
    opacity: 0;
}

.breadcrumbs {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--breadcrumbs-color);
    padding: 0.75rem 0rem;
}

.breadcrumbs .icon {
    vertical-align: -5%;
    color: #21D4FD;
    padding: 0 0.5rem;
}
  
.hero {
    background-color: #21D4FD;
    background-image: var(--background-image);

}
.navigation a {
    color: #fff;
    position: relative;
    text-decoration: none;
    padding-bottom: 8px;
  }
  .navigation a:before, .navigation a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fff;
  }
  .navigation a:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navigation a:after {
    opacity: 0;
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navigation a:hover:before, a:hover:after, a:focus:before, a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .navigation a:hover:before, a:focus:before {
    transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .navigation a:hover:after, a:focus:after {
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
.icons {
    width: 50px;
}

.bio {
    padding: 1rem 0;
}

.bio svg{
    vertical-align:-12%
}

.foot {
    background-color: #000;
    padding: 1rem 0rem;
    color: #fff;
    
}

footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem;
    
}

.icon-20 {
    width:80px;
}

.icon-30 {
    width:30px;
    height:30px;
}

.icon-50 {
    width:50px;
    height:50px;
}

.icon-128 {
    width:128px;
}

.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.logo {
    justify-content: flex-start;
}

.navigation{
    padding: 0 0;
    margin-left: auto;  
    justify-content: flex-end;
}

.navigation li{
    display: inline-block;
    margin-left: 2rem;
    color: #fff;
    font-weight:700;
}

.header a {
    text-decoration: none
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem;
    padding: 1rem 1rem
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    float: right;
    margin-top:-0.4rem;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px
}

.crumbs {
    margin-top:0.5rem;
}

.theme-switch input {
    display: none
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s
}

.slider:before {
    background-color: snow;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px
}

input:checked+.slider {
    background-color: #464646
}

.slider.round .stars {
    opacity: 0
}

input:checked+.slider.round .stars {
    opacity: .7;
    transition: opacity 1s ease-in
}

.slider.round .stars {
    position: absolute;
    background-color: snow;
    opacity: 0;
    border-radius: 100%
}

.slider.round .stars--1 {
    top: 16px;
    left: 10px;
    width: 3px;
    height: 3px
}

.slider.round .stars--2 {
    top: 24px;
    left: 20px;
    width: 2px;
    height: 2px
}

.slider.round .stars--3 {
    top: 8px;
    left: 20px;
    width: 2px;
    height: 2px
}

.slider.round .crater {
    opacity: 0
}

input:checked+.slider.round .crater {
    opacity: 1;
    transition: opacity 1s ease-in
}

.slider.round .crater {
    position: absolute;
    background-color: silver;
    opacity: 0;
    border-radius: 100%
}

.slider.round .crater--1 {
    top: 18px;
    right: 8px;
    width: 4px;
    height: 4px
}

.slider.round .crater--2 {
    top: 20px;
    right: 18px;
    width: 6px;
    height: 6px
}

.slider.round .crater--3 {
    top: 8px;
    right: 15px;
    width: 8px;
    height: 8px
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: snow
}

.slider.round {
    border-radius: 34px
}

.slider.round:before {
    border-radius: 50%
}

.hero-banner .hero-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-radius: 5px;
}

.hero-text {
    text-align: center;

}

.hero-banner .hero-content {
    background: linear-gradient(to bottom, transparent 40%, #011038 85%, #011038 95%);
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    padding: calc(1.6rem*2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero-banner {
    background-position: center;
    width:150%;
    position: relative;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 1.6rem calc(1.6rem/2);
    background-size: cover;
    color: #fff;
    height: 600px;
    margin-top:1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    background-image: url("images/nasa_launch.jpg");
}

@media only screen and (max-width:812px) {
    .hero-banner {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        transform: none
    }

@media only screen and (max-width:812px) {

    .navigation{
        margin-top:0px;
        margin-bottom: 0px;
        overflow: auto;
        white-space: nowrap;
        padding-top: 0.5rem;
        
    }
    
    .navigation li{
        margin-left: 1rem;
    }

    .navigation li:first-child{
        margin-left: 0rem;
    }

    .navigation li:last-child{
        color: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    }

    .header {
    display: inherit;
    padding-top: 1rem;
    }

}